body {
    margin: 0px;
    overflow: hidden;
    font-family: monospace;
  }

  .tip {
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

button {
  padding: 10px;

}